* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;

}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 80px;
    width: 100%;
    height: 40px;
    margin: 70px 27px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

.nav-bar__link_visible {
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.nav-bar__icon {
    height: 2px;
    width: 35px;
    right: 27px;
    top: 30px;
    background: #242423;
    position: absolute;
}

.nav-bar__icon::before {
    height: 2px;
    width: 35px;
    top: 5px;
    right: 0;
    background: #242423;
    position: absolute;
    content: '';
}

.nav-bar__icon::after {
    height: 2px;
    width: 35px;
    top: 10px;
    right: 0;
    background: #242423;
    position: absolute;
    content: '';
}

.nav-bar__link {
    text-decoration: none;
    font: 400 12px/20px 'Oxygen', serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #2E2E2E;
}

.header__logo {
    color: #2E2E2E;
    margin: 0 auto 0 20px;
}

.text {
    font: 400 26px/26px 'Lora', serif;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 82px 0 0 0;
}

.main__title {
    font: 400 50px/51px 'Lora', serif;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.main__subtext {
    text-align: center;
    font: 400 17px/20px 'Oxygen', serif;
    color: rgba(46, 46, 46, 0.63);
    margin: 20px 20px 113px 20px;
}

.main__image {
    max-height: 534px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    background: #F7F7F7;
    padding: 40px 20px;
}

.main-content__text {
    font: 400 20px/30px 'Oxygen', serif;
    color: #101315;
    margin: 0 0 40px 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(35, 47, 56, 0.6) url("../img/background.png") no-repeat;
    background-size: cover;
}

.footer__title {
    width: 100%;
    text-align: center;
    color: #EFEFEF;
    font: 400 25px/30px 'Oxygen', serif;
    margin: 81px 0 0 0;
}

.footer__title:after {
    content: '';
    display: block;
    margin: 17px auto 20px;
    height: 1px;
    width: 188px;
    background: #DEDEDE;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(35, 47, 56, 0.6) url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.footer__title {
    width: 100%;
    text-align: center;
    color: #EFEFEF;
    font: 400 25px/30px 'Oxygen', sans-serif;
    margin: 81px 0 0 0;
}

.footer__title:after {
    content: '';
    display: block;
    margin: 17px auto 20px;
    height: 1px;
    width: 188px;
    background: #DEDEDE;
}

.footer-form {
    display: flex;
    max-width: 440px;
    width: 100%;
    max-height: 50px;
    text-align: center;
    margin: 0 0 90px 0;
    padding: 0 15px;
}

.footer-form__input {
    outline: none;
    max-width: 330px;
    width: 100%;
    height: 46px;
    padding: 0 0 0 35px;
    font: 400 12px/14px 'Roboto', sans-serif;
    color: #817F83;
}

.footer-form__button {
    max-width: 110px;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    color: #F8F8F8;
    font: 400 12px/14px 'Roboto', sans-serif;
    outline: none;
    border-style: none;
    cursor: pointer;
    margin-left: -5px;
}

.footer-nav {
    display: flex;
    align-items: center;
    max-height: 170px;
    height: 100%;
    width: 100%;
    background: rgba(35, 47, 56, 0.6);
}

.footer-nav__logo {
    color: #FFFFFF;
    margin: 29px 0 115px 15px;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-height: 107px;
    height: 100%;
    width: 272px;
    margin: 29px 27px 34px auto;
}

.footer-navigation__link {
    text-decoration: none;
    font: 400 11px/26px 'Oxygen', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
    .main-content__text {
        font: 400 24px/35px 'Oxygen', serif;
    }

    .header__logo {
        margin: 0 auto;
    }

    .nav-bar__icon {
        display: none;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        transform: none;
        transition: none;
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
        height: 40px;
        opacity: 1;
        visibility: visible;
    }

    .footer-form {
        max-width: 500px;
        width: 100%;
    }

    .footer-form__input {
        max-width: 375px;
        width: 100%;
    }

    .footer-form__button {
        max-width: 125px;
        width: 100%;
    }

    .footer-nav {
        height: 89px;
        align-items: center;
    }

    .footer-navigation {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto 0 auto;
    }

    .footer-nav__logo {
        margin: 32px auto auto auto;
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        padding: 140px 240px;
    }
}